body {
  background-color: #ede7f6;
  font-family: 'Arial', sans-serif;
  color: #4a148c;
  text-align: center;
}

h1 {
  color: #6a1b9a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px 20px;
}

/* Nav list for desktop */
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  font-size: 28px;
  color:: pointer;
} black;
  cursor

/* Mobile View */
@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    
  }
  .nav-list li {
    margin: 15px 0;
    text-align: center;
  }
  .menu-toggle {
    display: block;
  }
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

